/* FAQ */

#content .title_area {

}
#content .title_area h2 {
  /* 35px */
  font-size: 2.500rem;
  text-align: center;
  font-weight: 700;
  margin-top: 30px;
}
#content .content_area {
  margin-top: 5rem;
}
#content .content_area h3 {
  /* 30px */
  font-size: 2.143rem;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
  padding: 0 4.5%;
}
#content .content_area h4 {
  /* 27px */
  font-size: 1.929rem;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
}
/* #content .content_area h3::before{
  content: "";
  width: 1px;
  height: 35px;
  background-color: #3cb149;
  position: absolute;
  top: -37px;
  left: 50%;
} */

















#content .title_area {
  /* margin-bottom: 110px; */
}
#content .title_area h2 {
  position: relative;
}
#content .title_area h2::after {
  content: "";
  width: 1px; height: 50px;
  background: #3cb149;
  position: absolute;
  left: 50%;
  bottom: -4.5rem;
}
/* #content .title_area h2 + p {

  font-size: 1.875em;
  text-align: center;
  margin-bottom: 17px;
  line-height: 1.5em;
  margin-top: 80px;
  font-weight: 500;
}
#content .title_area h2 + p + p {

  font-size: 1.250em;
  text-align: center;
  line-height: 1.5em;
} */



/* FAQ */
#content .content_area .faq_box {
  margin-bottom: 5rem;
}
/* .faq h3 {margin-left: 14px;} */
.faq{width:100%; border-bottom:1px solid #ddd;font-size:1.125em; margin: 0 auto;}
.faq .hgroup{position:relative;margin:0 0 10px 0;}  
/* 모두 열기 버튼 */
.faq .hgroup .all{
  position:absolute; top:42px; right:10px; color:#333;
  background: no-repeat 87% 53% /15% url("../images/content2/faq_arrow_down.png");
  padding: 0 50px 0 5px;
}
.faq ul li {
  width: 95%;
  margin: 0 auto;
}
.faq li:nth-of-type(1) .q {
  border-top: 2px solid #333;
}
.faq .q{
  margin:0;border-top:1px solid #ddd;
  position: relative;
}
.faq .q::before {
  content: "Q";
  position: absolute;
  top: 15px;
  left: 15px;
  /* 24px */
  font-size: 1.714rem;
  color: #3cb149;
}
/* .faq .q a span {
  display: block;
  float: right;
  width: 30px; height: 30px;
  background: no-repeat center/contain url("../images/content2/faq_arrow_down.png");
} */
.faq .a::before{
  content: "A";
  position: absolute;
  top: 25px;
  left: 15px;
  /* 24px */
  font-size: 1.714rem;
  color: #751485;
}

.faq .q a.trigger{
  display:block;
  text-align:justify; padding: 1.786rem 50px 1.786rem 50px;
  background: url("../images/content2/faq_arrow_down.png") 96% center / 1.857rem no-repeat;
}  
.faq .hide .q a.trigger{}  
.faq .q a.trigger:hover,  
.faq .q a.trigger:active,  
.faq .q a.trigger:focus{
  background:#9df9a8;
  /* color:#000; */
}  
.faq .a{
          position: relative;
          line-height:1.5em;
          text-align: justify;
          overflow:hidden;
          display:none;
          padding: 1.786rem 50px 1.786rem 50px;
          background-color: #f9f9f9;
        }