/* 광고영상 */

#content .title_area {

}
#content .title_area h2 {
  /* 35px */
  font-size: 2.500rem;
  text-align: center;
  font-weight: 700;
  margin-top: 30px;
}
#content .content_area {
  margin-top: 5rem;
}
#content .content_area h3 {
  /* 30px */
  font-size: 2.143rem;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
  padding: 0 4.5%;
}
#content .content_area h4 {
  /* 27px */
  font-size: 1.929rem;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
}
/* #content .content_area h3::before{
  content: "";
  width: 1px;
  height: 35px;
  background-color: #3cb149;
  position: absolute;
  top: -37px;
  left: 50%;
} */




#content .title_area h2 {
  position: relative;
}
#content .title_area h2::after {
  content: "";
  width: 1px; height: 50px;
  background: #3cb149;
  position: absolute;
  left: 50%;
  bottom: -4.5rem;
}
#content .content_area .cf img{
  display: block;
  width: 100%;
}
#content .content_area .cf .cf_list li {
  width: 95%;
  margin: 3rem auto;
}
#content .content_area .cf .cf_list a { 
  display: block;
}
#content .content_area .cf .cf_list li dl {
  margin-top: 1rem;
}
#content .content_area .cf .cf_list li dt {
  /* 20px */
  font-size: 1.429rem;
  font-weight: 700;
}
#content .content_area .cf .cf_list li dd {
  /* 16px */
  font-size: 1.143rem;
  margin-top: .3rem;
  color: #777;
}











/* modal */
#content .content_area .modal_bg {
  position: fixed;
  left: 0; top: 0;
  z-index: 1000;
  width: 100%; height: 100%;
  background-color: #3a3e50;
  opacity: 0.5;
  display: none;
}
/* 팝업창 mok*/
#content .content_area .modal_popup {
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
  width: 100%;
  /* height: 800px; */
  height: 90%;
  /* background-color: #f8f8f8; */
  background-color: #f5f5f5; 
  box-shadow: 1px 3px 7px 0px #666;
  z-index: 1001;
  display: none;
  border: 1px solid #f5f5f5;
  overflow-y: scroll;
}
#content .content_area .modal_popup strong {
  display: block;
  text-align: center;
  font-size: 1.786rem;
  margin-top: 10px;
}
#content .content_area .modal_popup a {
  position: absolute;
  right: 1rem; top: 1.071rem;
  text-indent: -9999px;
  overflow: hidden;
  background: url("../images/content1/x.png") center / contain no-repeat;
  width: 1.786rem; height: 1.786rem;

}
#content .content_area .modal_popup .video_wrap {
  /* height: 200px; */
  margin-top: 1rem;
  padding-bottom: 56.25%;
  position: relative;

}
#content .content_area .modal_popup .video_wrap iframe{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#content .content_area .modal_popup dl {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  padding: 0 4.5%;

  
}
#content .content_area .modal_popup dt {
  /* 20px */
  font-size: 1.429rem;
  font-weight: 700;
}
#content .content_area .modal_popup dd {
  margin-top: .5rem;
  font-size: 1.143rem;
  text-align: justify;
  line-height: 1.5em;
}
