body {background: #fafafa;}
.logo{
  margin: 50px auto 0; display: block; width: 150px; height: 50px; text-indent: -9999px; overflow: hidden;
  background: url("../../common/images/logo1.png") center / contain no-repeat;
}
#content{width: 1000px; margin: 100px auto 0; }
h2{
  font-size: 28px; position: relative; text-align: center;
  background: url("../images/bg_h2.gif") center / contain no-repeat;
  width: 90%;
  margin: 0 auto 50px;
}
h2 span{
  background-color: #fff;
  padding: 0 20px;
}
.sub_cont_wrap {
  padding: 50px 50px 70px; background-color: #fff; box-shadow: 8px 8px 18px rgb(0 0 0 / 6%);
  /* height: 700px; */
  margin-bottom: 100px;
}
form {
  margin-top: 30px;
  /* margin-bottom: 100px; */
  /* border: 1px solid #ccc; */
  /* padding: 50px; */
}
table{ margin: 0 auto; background-color: #fafafa; }
th,td{border: 1px solid #ccc; padding: 15px}
th{width: 20%}
td{width: 80%}
input, select{
  padding: 5px; border-radius: 3px;
  font-size: 1.5em; border: 0;
  /* background: #e3e3e3; */
  border: 1px solid #ccc;
}
table tr:nth-of-type(6) input { width: 200px; }
#content form input:focus {
  border: 1px solid #3cb149;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(60 177 73 / 60%);
}
#content form input:focus-visible {
  outline: none;
}
.must {
  margin-left: 20px;
}

/* button */
#content .modify_button_wrap {
  margin-top: 50px;
  text-align: center;
}
#content .modify_button_wrap .modify_btn {
  background-color: #3cb149;
  color: #fff;
  font-family: "Noto Sans KR", Dotum,"굴림",Gulim, sans-serif;
  /* 20px */
  font-size: 1.125em;
  font-weight: 500;
  height: 50px;
  width: 200px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  /* margin: 0 auto; */
  position: relative;
  /* z-index: 2; */
}
#content .modify_button_wrap .modify_btn span {
  position: relative;
  z-index: 2;
}
#content .modify_button_wrap .modify_btn::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; bottom: 0;
  margin: auto 0;
  background-color: #4eca5d;
  transition: all .3s;
  border-radius: 3px;
  /* z-index: 1; */
}
#content .modify_button_wrap .modify_btn:hover::after {
  width: 100%;
}
#content .modify_button_wrap .cancel{
	background-color: #aaa;
  color: #fff;
  font-family: "Noto Sans KR", Dotum,"굴림",Gulim, sans-serif;
  /* 20px */
  font-size: 1.125em;
  font-weight: 500;
  height: 50px;
  width: 200px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  /* margin: 0 auto; */
  position: relative;
  /* z-index: 2; */
}
#nick1 {
  display: inline-block;
}
#nick2 {
  background-color: #aaa;
  color: #fff;
  font-family: "Noto Sans KR", Dotum,"굴림",Gulim, sans-serif;
  height: 32px;
  /* margin-bottom: 6px; */
  width: 90px;
  border-style: none;
  border-radius: 3px;
  cursor: pointer;
  /* margin: 0 auto; */
  position: relative;
  /* z-index: 2; */
}
.red_asterisk {
  color: #da3c3c;
}